# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
venv/
.env/

# Django
db.sqlite3
media/
staticfiles/

# IDE
.idea/
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log

# PyCharm
*.iml

# Environment
.env
.env.*

# OCR temp
temp/
tmp/

# Python cache
.pytest_cache/
.mypy_cache/

# Node
node_modules/

# Backups / local tools
backups_db/
backup_database.py
redis_inspect.json