alembic==1.18.4
amqp==5.3.1
asgiref==3.11.1
bandit==1.9.4
bcrypt==5.0.0
bidict==0.23.1
billiard==4.2.4
black==26.5.1
blinker==1.9.0
celery==5.6.3
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
Deprecated==1.3.1
dj-database-url==3.1.2
Django==6.0.5
dnspython==2.8.0
et_xmlfile==2.0.0
eventlet==0.41.0
flake8==7.3.0
Flask==3.1.3
Flask-Bcrypt==1.0.1
flask-command==0.0.3
Flask-Limiter==4.1.1
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.3.0
flower==2.0.1
gevent==26.5.0
greenlet==3.5.1
gunicorn==26.0.0
h11==0.16.0
humanize==4.15.0
idna==3.18
img2pdf==0.6.3
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
kombu==5.6.2
limits==5.8.0
lxml==6.1.1
Mako==1.3.12
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mccabe==0.7.0
mdurl==0.1.2
mypy_extensions==1.1.0
numpy==2.4.6
openpyxl==3.1.5
ordered-set==4.1.0
packaging==26.2
pandas==3.0.3
pathspec==1.1.1
pdf2image==1.17.0
pikepdf==10.7.2
pillow==12.2.0
platformdirs==4.9.6
pluggy==1.6.0
prometheus_client==0.25.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.12
pycodestyle==2.14.0
pycparser==3.0
pyflakes==3.4.0
Pygments==2.20.0
pytesseract==0.3.13
pytest==9.0.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-engineio==4.9.0
python-magic-bin==0.4.14
python-socketio==5.11.2
pytokens==0.4.1
pytz==2026.2
PyYAML==6.0.3
redis==5.0.4
reportlab==4.5.1
requests==2.34.2
rich==15.0.0
simple-websocket==1.1.0
six==1.17.0
SQLAlchemy==2.0.50
sqlparse==0.5.5
stevedore==5.8.0
tornado==6.5.6
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.3.1
urllib3==2.7.0
vine==5.1.0
wcwidth==0.7.0
Werkzeug==3.1.8
whitenoise==6.12.0
wrapt==2.2.1
wsproto==1.3.2
WTForms==3.2.2
zope.event==6.2
zope.interface==8.5
