{% extends 'base.html' %}

{% block content %}

<div class="page-header">

    <div>

        <h2 class="page-title">
            Резервные копии
        </h2>

        <p class="page-subtitle">
            Управление резервными копиями базы данных
        </p>

    </div>

</div>

<div class="content-card">

    <div class="upload-actions">

        <a
            href="{% url 'create_backup' %}"
            class="primary-btn"
        >
            Создать новый бэкап
        </a>

    </div>

</div>

<div class="content-card">

    {% if backups %}

    <table class="zarya-table">

        <thead>

            <tr>

                <th>
                    Имя файла
                </th>

                <th width="120">
                    Размер
                </th>

                <th width="220">
                    Действия
                </th>

            </tr>

        </thead>

        <tbody>

            {% for backup in backups %}

            <tr>

                <td>
                    {{ backup.name }}
                </td>

                <td>
                    {{ backup.size }} MB
                </td>

                <td>

                    <div class="table-actions">

                        <a
                            href="{% url 'download_backup' backup.name %}"
                            class="primary-btn"
                        >
                            Скачать
                        </a>

                        <a
                            href="{% url 'delete_backup' backup.name %}"
                            class="danger-btn"
                            onclick="return confirm('Удалить резервную копию?');"
                        >
                            Удалить
                        </a>

                    </div>

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

    {% else %}

    <p>
        Резервные копии отсутствуют.
    </p>

    {% endif %}

</div>

{% endblock %}