{% extends 'base.html' %}

{% block content %}

<div class="page-header">

    <div>

        <h2 class="page-title">
            Редактирование счета
        </h2>

        <p class="page-subtitle">
            Счет #{{ invoice.id }}
        </p>

    </div>

</div>

<div class="upload-wrapper">

    <div class="upload-card">

        <form method="post">

            {% csrf_token %}

            {% if form.errors %}
                <div class="form-error-summary">
                    <strong>Форма не сохранена.</strong>
                    Проверь обязательные поля и исправь ошибки.
                    {{ form.errors }}
                </div>
            {% endif %}
            <div class="form-group">

                <label>Тип документа</label>

                {{ form.document_type }}

            </div>

            <div class="form-group">

                <label>Название</label>

                {{ form.title }}

            </div>

            <div class="form-group">

                <label>Описание</label>

                {{ form.description }}

            </div>

            <div class="form-group">

                <label>Поставщик</label>

                {{ form.vendor }}

            </div>

            <div class="form-group">

                <label>Номер счета</label>

                {{ form.invoice_number }}

            </div>

            <div class="form-group">

                <label>Дата счета</label>

                {{ form.invoice_date }}

            </div>

            <div class="form-group">

                <label>Подтвержденная сумма</label>

                {{ form.amount }}
            </div>

            <div class="form-group">

                <label>Плановая дата оплаты</label>

                {{ form.planned_payment_date }}

            </div>

            <div class="form-group">

                <label>Приоритет оплаты</label>

                {{ form.payment_priority }}

            </div>

            <div class="form-group">

                <label>Дата фактической оплаты</label>

                {{ form.paid_at }}

            </div>

            <div class="form-group">

                <label>OCR сумма</label>

                <div class="ocr-value">

                    {{ invoice.ocr_amount|default:"—" }}

                </div>

            </div>

            <div class="form-group">

                <label>Статус счёта</label>

                {{ form.status }}

            </div>

            <button
                type="submit"
                class="primary-btn"
            >
                Сохранить изменения
            </button>

        </form>

    </div>

</div>

{% endblock %}