{% extends 'base.html' %}

{% block content %}

<div class="upload-wrapper">

    <div class="upload-card">

        <h2>
            Загрузка счетов
        </h2>

        <p>
            Можно выбрать до 20 PDF, JPG или PNG файлов
        </p>

        <form method="post"
              enctype="multipart/form-data">

            {% csrf_token %}

            <p>
                {{ form.title.label_tag }}
                {{ form.title }}
            </p>

            <p>
                {{ form.description.label_tag }}
                {{ form.description }}
            </p>

            <p>
                {{ form.amount.label_tag }}
                {{ form.amount }}
            </p>

            <p>

                <label for="files">

                    Файлы счетов

                </label>

                <input
                    type="file"
                    id="files"
                    name="files"
                    class="form-control"
                    multiple
                    accept=".pdf,.jpg,.jpeg,.png"
                >

            </p>

            <button
                type="submit"
                class="primary-btn"
            >
                Загрузить
            </button>

        </form>

    </div>

</div>

{% endblock %}